@font-face {
    font-family: 'Hex Franklin Narrow';
    src: url(/assets/type/HEXFranklinNarrow-Regular.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hex Franklin';
    src: url(/assets/type/HEXFranklin-Variable.woff2) format('woff2');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders 18';
    src: url(/assets/type/BigShoulders18-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders 36';
    src: url(/assets/type/BigShoulders36-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 1.25rem;
    --body: 'Hex Franklin Narrow',system-ui, sans-serif;
    --micro: 'Big Shoulders 18', system-ui, sans-serif;
    --heading: 'Big Shoulders 36', system-ui, sans-serif;
    --font-size: calc(1rem + .5vw);
    --primary-color: 22,  23,  24;
    --highlight-color: 0,  0,  255;
    --accent-color: 141,  140,  140;
    --background-color: 251,  250,  247;
}

@supports (font-variation-settings: normal) {
    :root {
        --body: 'Hex Franklin', system-ui, sans-serif;
    }
}

:focus-visible {
    outline: 3px solid rgb(var(--highlight-color));
    outline-offset: 2px;
}

@media(prefers-color-scheme:dark) {
    :root {
    --primary-color: 211,  206,  193;
    --highlight-color: 80,  173,  215;
    --accent-color: 141,  140,  140;
    --background-color: 22,  23,  24;
    }

    :focus-visible {
    outline: 3px solid rgb(var(--highlight-color));
    outline-offset: 2px;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: #fff0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    margin: unset;
    font-family: var(--body);
    font-size: var(--font-size);
    font-variation-settings: "wdth" 82, "wght" 425;
    font-style: normal;
    line-height: 1.5;
    color: rgb(var(--primary-color));
    background-color: rgb(var(--background-color));
}

.acme-all-purpose-wrapper {
    width: 100%;
    padding: 3rem 1rem;
}

.acme-all-purpose-wrapper.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--micro);
    text-transform: uppercase;
}

header a, footer a {
    padding: 0 var(--gap);
}

header {
    font-size: calc(var(--font-size) * 1.25);
}

main {
    padding: 4rem 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.blurb-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    width: 100%;
}

.book {
    padding: 1.5rem 0;
}

.book-spacer {
    width: 100%;
    max-width: calc(20rem + 3vw);
}

img {
    max-width: calc(20rem + 3vw);
    width: 100%;
    height: auto;
}

h2, h1 {
    font-family: var(--heading);
    font-size: calc(var(--font-size) * 2);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

.blurb p {
    max-width: 56ch;
}

.short p {
    padding-right: var(--gap);
}

.small-text {
    font-family: var(--micro);
    font-size: calc(var(--font-size) * .8);
}

.info .small-text {
    margin-block-start: 3rem;
    font-family: var(--body);
    font-size: calc(var(--font-size) * .9);
}

main * + * {
    margin-block-start: var(--gap);
}

.margins-off > * {
    margin-block-start: 0;
}

.blurb, article + h2  {
    margin-block-start: 3rem;
}

h2 + .blurb, h1 + * + *, article + article {
    margin-block-start: calc(var(--gap) + .5rem)
}

li + li {
    margin-block-start: .5rem;
}

p, li {
    max-width: 59ch;
}

li {
    list-style: none;
}

.highlight {
    color: rgb(var(--highlight-color));
}

.center {
    text-align: center;
}

a {
    color: rgb(var(--primary-color));
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(var(--accent-color));
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

a:hover {
    opacity: .6;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6;
    }
}

.linkstyling-off a {
    text-decoration: none;
}

hr {
    flex-grow: 1;
    height: 1px;
    background: rgb(var(--accent-color));
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
}

.skull {
    width: auto;
    max-height: 2.5rem;
    padding: 0 var(--gap);
}

.space {
    display: inline-block;
    width: .75rem;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(var(--primary-color));
}

.skip-link:focus {
    top: 6px;
    color: rgb(var(--primary-color));
}

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .big-screen {
        display: none;
    }
}