@font-face {
    font-family: 'Hex Franklin';
    src: url(/assets/type/hexfranklin_variable.woff2) format('woff2');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Hex Franklin Narrow';
    src: url(/assets/type/hexfranklinnarrow_regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders';
    src: url(/assets/type/bigshoulders_variable.woff2) format('woff2');
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders 36';
    src: url(/assets/type/bigshoulders_36pt_bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --ratio: 1.7;
    --space--2: calc(var(--space--1) / var(--ratio));
    --space--1: calc(var(--space-0) / var(--ratio));
    --space-0: 1rem;
    --space-1: calc(var(--space-0) * var(--ratio));
    --space-2: calc(var(--space-1) * var(--ratio));
    --space-3: calc(var(--space-2) * var(--ratio));
    --body: 'Hex Franklin Narrow',system-ui, sans-serif;
    --display: 'Big Shoulders 36', system-ui, sans-serif;
    --paragraph: calc(1.13rem + .5vw);
    --primary: 22,  23,  24;
    --highlight: 0,  0,  255;
    --accent: 141,  140,  140;
    --background: 251,  250,  247;
}

@supports (font-variation-settings: normal) {
    :root {
        --body: 'Hex Franklin', system-ui, sans-serif;
        --display: 'Big Shoulders', system-ui, sans-serif;
    }
}

@media(prefers-color-scheme:dark) {
    :root {
    --primary: 211,  206,  193;
    --highlight: 80,  173,  215;
    --accent: 141,  140,  140;
    --background: 22,  23,  24;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--body);
    font-size: var(--paragraph);
    font-variation-settings: "wdth" 85, "wght" 425;
    font-style: normal;
    line-height: 1.5;
    color: rgb(var(--primary));
    background-color: rgb(var(--background));
}

.acme-all-purpose-wrapper {
    width: 100%;
    padding: 3rem 1.25rem;
}

h1, 
h2 {
    font-family: var(--display);
    font-size: calc(var(--paragraph) * 2);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

header, 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--display);
    line-height: 1;
    text-transform: uppercase;
}

header {
    font-size: calc(var(--paragraph) * 1.3);
}

hr {
    flex-grow: 1;
    height: 1px;
    background: rgb(var(--accent));
}

.gap--2 {
    display: inline-block;
    width: var(--space--2);
}

.gap--1 {
    display: inline-block;
    width: var(--space--1);
}

a {
    color: rgb(var(--primary));
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(var(--accent));
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
    transition: opacity 0.2s ease;
}

.linkstyling-off a {
    text-decoration: none;
}

main {
    width: 100%;
    padding: 4.5rem 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.blurb-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 6rem;
    width: 100%;
}

.book,
.book-spacer {
    flex: 0 0 25%;
    min-width: min(360px, 75vw);
}

.book-spacer {
    height: 0;
    background: red;
}

.book img,
.book-spacer {
    aspect-ratio: 450 / 728;
}

img {
    width: 100%;
    height: auto;
}

.blurb-block.feature {
    row-gap: calc(var(--space-1) + 2vw);
}

.blurb > * + * {
    margin-block-start: calc(var(--space-0) + .5vw);
}

.blurb-block.feature .blurb {
    margin-block-start: var(--space-1);
}

.blurb,
.short .blurb + .blurb {
    margin-block-start: var(--space-2);
}

p, 
li {
    max-width: 59ch;
}

.blurb p {
    max-width: 56ch;
}

.short p {
    padding-right: 1.5rem;
}

.small-text {
    font-family: var(--display);
    font-size: calc(var(--paragraph) * .875);
    text-transform: uppercase;
}

.info .small-text {
    margin-block-start: 3rem;
    font-family: var(--body);
    font-size: calc(var(--paragraph) * .9);
    text-transform: none;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(var(--primary));
}

.skip-link:focus {
    top: 6px;
}

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}