.blurb-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--space-3);
    width: 100%;
    max-width: calc(1440px + 4vw);
    margin: 0 auto;
}

@media (max-width:940px) {
    .blurb-block {
        flex-direction: column;
    }
}

.book {
    flex: 0 0 auto;
    max-width: calc(300px + 4vw);
}

.book img {
    width: 100%;
    height: auto;
    aspect-ratio: 450 / 728;
}

.text {
    flex: 1 1 0;
    min-width: 0;
    max-width: 57ex;
}

.blurb-block.feature {
    row-gap: var(--space-1);
}

.blurb:not(.headline),
.short .blurb + .blurb {
    margin-block-start: var(--space-2);
}

.headline {
    margin-block-start: var(--space-1);
}

.blurb > * + * {
    margin-block-start: var(--space-0);
}

.short p {
    max-width: 52ch;
}

.small-text {
    font-family: var(--display);
    font-size: calc(var(--paragraph) * .875);
    text-transform: uppercase;
}

.info .small-text {
    margin-block-start: 3rem;
    font-family: var(--body);
    font-size: calc(var(--paragraph) * .9);
    text-transform: none;
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space--1);
    margin-block-start: var(--space-3);
    margin-block-end: var(--space-3);
    margin-inline-start: calc(50% - 50vw + 1.25rem);
    margin-inline-end: calc(50% - 50vw + 1.25rem);
}

svg.skull {
    width: 1.5em;
    height: auto;
}