@font-face {
    font-family: 'Font';
    src: url('/assets/type/monaspacexenon_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #423B77;
    --progress: #B3B2B2;
    --background: #E8EBE8;
    --width: 72ch;
    --flow: calc(4rem + 2vw);
}

@media(prefers-color-scheme:dark) {
    :root {
        --primary: #E8EBE8;
        --progress: #8D8C8C;
        --background: #1F1C30;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
}

html {
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 2rem 1.25rem;
    font-family: 'Font', Courier, monospace;
    font-size: calc(1rem + .25vw);
    font-weight: 400;
    line-height: 1.6;
    color: var(--primary);
    background-color: var(--background);
}

header, 
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    width: 100%;
}

.site-title {
    font-size: inherit;
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

main {
    flex: 1;
    padding: var(--flow) 0;
}

ul {
    list-style: none;
    max-width: var(--width);
}

h2 ~ h2 {
    margin-block-start: var(--flow);
}

h2 + * {
    margin-block-start: calc(var(--flow) / 2.5);
}


li + li {
    margin-block-start: 1rem;
}

hr {
    flex: 1;
    margin-top: 6px;
    border-top: 2px dotted var(--primary);
    background-color: transparent;
}